# NYCO Config File #
####################
/wp-content/mu-plugins/config/config.yml

# Composer #
############
/vendor/*
!/vendor/autoload.php

# Add packages that need to be shipped with the source here with !
!/vendor/composer
!/vendor/illuminate
!/vendor/mustangostang
!/vendor/nesbot
!/vendor/symfony

# WordPress #
############
/.htaccess
/wp-config.php
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/upgrade/*
/wp-content/backup-db/*
/wp-content/backups/
/wp-content/advanced-cache.php
/wp-content/themes/access/.env
/wp-content/wp-cache-config.php
/wp-content/cache/*
/wp-content/cache/supercache/*

# Plugins #
###########
/wp-content/plugins/akismet/
/wp-content/plugins/akismet/*
/wp-content/themes/*twenty*/
/wp-content/themes/*twenty*/*
/wp-content/plugins/hello.php
/wp-content/plugins/wp-auto-login/*

# WP-Engine Specific #
######################
.smushit-status
.gitattributes
/_wpeprivate
/wp-content/object-cache.php
/wp-content/mu-plugins/mu-plugin.php
/wp-content/mu-plugins/slt-force-strong-passwords.php
/wp-content/mu-plugins/limit-login-attempts
/wp-content/mu-plugins/wpengine-common
/wp-content/mysql.sql
/wp-content/wpengine/*

# Sage Theme #
##############
# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/wp-content/themes/csdw/.cache-loader
/wp-content/themes/csdw/resources/assets/config-local.json
/wp-content/themes/csdw/vendor/*
!/wp-content/themes/csdw/vendor/autoload.php
!/wp-content/themes/csdw/vendor/brain
!/wp-content/themes/csdw/vendor/composer
!/wp-content/themes/csdw/vendor/doctrine
!/wp-content/themes/csdw/vendor/illuminate
!/wp-content/themes/csdw/vendor/nesbot
!/wp-content/themes/csdw/vendor/psr
!/wp-content/themes/csdw/vendor/roots
!/wp-content/themes/csdw/vendor/soberwp
!/wp-content/themes/csdw/vendor/symfony

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases #
######################
*.log
*.sql

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Thumbs.db
._*

# Other #
#########
.idea
sitemap.xml
sitemap.xml.gz
/info.php

# Vim generated files #
######################
*.un~

# SASS #
########
.sass-cache

# JS Package Managers #
#######################
node_modules
npm-debug.log
yarn-error.log

# Large/disallowed filetypes #
# See https://wpengine.com/git/#toc_4
##############################
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
