
@import "~@nycopportunity/patterns/src/scss/functions/font-source-declaration";
@import "~@nycopportunity/patterns/src/scss/functions/font-face";

/**
 * Sans-serif
 */

@include font-face("Source Sans Pro", "../fonts/source-sans-pro/source-sans-pro-v13-latin-regular", (woff2, woff, ttf)) {
  font-weight: 400;
  // font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@include font-face("Source Sans Pro", "../fonts/source-sans-pro/source-sans-pro-v13-latin-italic", (woff2, woff, ttf)) {
  font-weight: 400;
  // font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@include font-face("Source Sans Pro", "../fonts/source-sans-pro/source-sans-pro-v13-latin-600italic", (woff2, woff, ttf)) {
  font-weight: 600;
  // font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@include font-face("Source Sans Pro", "../fonts/source-sans-pro/source-sans-pro-v13-latin-700", (woff2, woff, ttf)) {
  font-weight: 700;
  // font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

/**
 * Serif
 */

@include font-face("Source Serif Pro", "../fonts/source-serif-pro/SourceSerifPro-Regular", (woff2, woff, ttf)) {
  font-weight: 400;
  // font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@include font-face("Source Serif Pro", "../fonts/source-serif-pro/SourceSerifPro-It", (woff2, woff, ttf)) {
  font-weight: 400;
  // font-display: swap;
  font-style: italic;
  font-stretch: normal;
}

@include font-face("Source Serif Pro", "../fonts/source-serif-pro/SourceSerifPro-Bold", (woff2, woff, ttf)) {
  font-weight: 700;
  // font-display: swap;
  font-style: normal;
  font-stretch: normal;
}

@include font-face("Source Serif Pro", "../fonts/source-serif-pro/SourceSerifPro-BoldIt", (woff2, woff, ttf)) {
  font-weight: 700;
  // font-display: swap;
  font-style: italic;
  font-stretch: normal;
}
