.text-navy-30s {
  color: $navy-30s $important-utilities;
}

.bg-navy-30s {
  color: $navy-30s $important-utilities;
}

.border-navy-30s {
  color: $navy-30s $important-utilities;
}

.font-serif {
  font-family: "Source Serif Pro", serif;
}
