/** NYCO Patterns assets paths */
// $cdn: "~@nycopportunity/patterns/dist/";
// $path-to-fonts: "fonts";
// $path-to-svg: "svg";

// TODO: convert hex references in all styles to colors stored in tokens map
// @import "~@nycopportunity/patterns/src/config/tokens";

/** Colors */
$navy-30s: #2e334f;
$text-color: $navy-30s;
$navy: #24325b;
$body-background: #fff;

/** Box Model  */
$spacer: 2rem;

/** Font Settings */
$default-font: "Source Sans Pro", sans-serif;
$default-font-size: 20px;

/** Utilities importance setting (matches NYCO Patterns) **/
$important-utilities: !important;

/** Media Breakpoints */
$media-xlarge: 1199.98px;
$media-large: 991.98px;
$media-medium: 767.98px;
$media-small: 576.98px;
