/** Colors */
$text-color: #2e334f;
$navy: #24325b;
$body-background: #fff;

/** Box Model  */
$spacer: 2rem;

/** Font Settings */
$default-font: "Source Sans Pro", sans-serif;
$default-font-size: 20px;
