.site-footer {
  background-color: #24325b;
  padding: 50px;

  &__mobile {
    display: none;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &--top {
      margin-bottom: 25px;
    }

    &--middle {
      justify-content: flex-start;
      padding-bottom: 18px;
      align-items: center;
    }

    &--bottom {
      padding-top: 13px;
      border-top: 2px solid #4157aa;
    }
  }

  &-logo {
    padding-top: 5px;

    img,
    svg {
      width: 151px;
      height: 78px;
    }
  }

  &-menu {
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 10px;

    .widget-wrapper {
      margin: 0  25px;

      .widget-title {
        display: none;
        color: #fff;
        font-weight: 900;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        &:first-child {
          font-weight: 900;
        }
      }

      a {
        color: #fff;
      }
    }
  }

  .footer-middle-item {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    margin-right: 20px;
  }

  .content-info {
    display: flex;
    color: #fff;
    //font-weight: 600;
    font-size: 18px;
    line-height: 23px;

    .item {
      margin-right: 23px;
    }

    p {
      margin: 0;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .social-media {
    display: flex;

    img,
    svg {
      width: 48px;
    }

    &-item {
      margin: 0 11px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .site-footer-menu .widget-wrapper {
    margin: 0 15px;
  }
}

@media (max-width: 991.98px) {
  .site-footer {
    display: flex;
    flex-direction: column;
    padding: 58px 15px;

    &__mobile {
      display: block;
      order: 1;
      text-align: center;
      margin-bottom: 30px;

      .brand {
        display: block;
        margin-bottom: 15px;

        img,
        svg {
          width: 276px;
        }
      }

      .address {
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;

        br {
          display: none;
        }
      }
    }

    &__row {
      &--middle {
        order: 2;
        justify-content: center;
        margin-bottom: 50px;
      }

      &--top {
        order: 3;
      }

      &--bottom {
        padding-top: 23px;
        order: 4;
        justify-content: center;

        .content-info {
          display: none;
        }
      }
    }

    &-logo {
      display: none;
    }

    &-menu {
      justify-content: space-between;
      width: 100%;

      .widget-wrapper {
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .social-media {
      img,
      svg {
        width: 62px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .site-footer {
    &-menu {
      flex-wrap: wrap;
      margin: 0;

      .widget-wrapper {
        width: 50%;
        margin: 0 0 30px;
      }
    }

    &__row {
      &--middle {
        order: 2;
        justify-content: space-between;

        .footer-middle-item {
          &--text {
            min-width: 158px;
            margin-right: 10px;
          }

          &--image {
            max-width: 88px;
          }
        }
      }
    }
  }
}
