.page-header {
  padding: 250px 15px 95px;

  &__content {
    p {
      margin-bottom: 5px;
    }
  }
}

.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 78px;
  line-height: 1;
  color: #2e334f;
  margin-bottom: 32px;
}
