.error404 {
  .page-title {
    .icon-search {
      position: relative;
      white-space: nowrap;
      text-decoration: none;
      line-height: 1;
      font-size: 0;
      background: #fc5d52;
      display: inline;
      width: 3rem;
      height: 3rem;
      border: none;
    }
  }
}
