.section {
  padding: 100px 0;

  &-pink-30t {
    background-color: #fff0fe;
  }

  &-pink {
    background-color: #f9a5da;
  }

  &-header {
    text-align: center;

    &--left {
      text-align: left;
      margin-bottom: 85px;
    }

    &__row {
      display: flex;
      justify-content: space-between;
    }

    .button-wrapper {
      margin-top: 5px;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 62px;
    line-height: 1.1;
    margin-bottom: 10px;
    color: $text-color;
  }

  &-description {
    line-height: 1.65;
    max-width: 701px;
  }

  .load-more-wrapper {
    text-align: center;
    margin-top: 68px;
  }
}

@media (max-width: $media-large) {
  .section {
    padding-top: 42px;

    &-header {
      .button-wrapper {
        text-align: center;
        margin-top: 48px;
      }

      &__row {
        flex-direction: column;
      }
    }

    &-description {
      br {
        display: none;
      }
    }

    .load-more-wrapper {
      margin-top: 15px;
    }
  }
}

@media (max-width: $media-medium) {
  .section {
    &-title {
      font-size: 54px;
      line-height: 1.26;
    }

    &-description {
      font-size: 17px;
      line-height: 1.5;
    }
  }
}
