.phases-section {
  padding-bottom: 36px;

  .row {
    //justify-content: space-between;
    margin: 0 -20px;
  }
}

.phase-item {
  width: calc(33.3333% - 40px);
  min-width: 342px;
  background: #24325b;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  text-align: center;
  padding: 53px 15px 70px;
  margin: 0 20px 50px;
  color: #fff;

  @include transition();

  &__tag {
    font-size: 14px;
    line-height: 1.5;
  }

  &__title {
    display: block;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 30px;
    color: #fff;

    &:visited,
    &:focus {
      color: #fff;

      span {
        color: #fff;
      }
    }
  }

  &__image {
    a {
      display: block;
    }
  }

  &:hover {
    background-color: #fff;
    color: #24325b;

    a {
      color: #24325b;

      span {
        color: #24325b;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .phases-section {
    padding-top: 42px;
    padding-bottom: 10px;

    .row {
      margin: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .phases-section {
    .row {
      flex-direction: column;
    }
  }

  .phase-item {
    margin-left: auto;
    margin-right: auto;

    &__title {
      font-size: 28px;
    }
  }
}

@media (max-width: 419.98px) {
  .phase-item {
    min-width: 290px;
    padding: 30px 15px 50px;

    &__title {
      margin-bottom: 20px;
    }
  }
}
