.search-section {
  padding: 95px 0 60px;
  background: #fbd9ff;

  .row {
    justify-content: space-between;
  }

  .item {
    width: 100%;
    max-width: 200px;

    &__title {
      font-weight: bold;
      font-size: 32px;
      line-height: 1.5;
      display: block;
      color: $text-color;
    }

    &__description {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.search-block {
  margin-bottom: -35px;
  padding: 30px 48px;
  background: #24325b;
  position: relative;
  z-index: 1;

  form {
    position: relative;
  }

  &__form {
    position: relative;

    .field {
      display: block;
      width: 100%;
      padding: 16px 60px 16px 30px;
      border: none;

      &::placeholder {
        font-style: italic;
        color: #24325b;
      }
    }

    .result-block {
      position: absolute;
      background-color: #fff;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      border-top: 1px solid #c1c6cb;
      padding: 20px 0;
      box-shadow: 9px 9px 0 0 #24325b, 0 0 0 3px rgba(255, 255, 255, 0);

      &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0 30px;

        .title {
          color: #999ca4;
        }

        .link-all {
          color: #284cca;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
          display: block;
          padding: 20px 50px;
          color: $text-color;

          &:hover {
            background-color: #e6e8ec;
          }
        }
      }

      @include transition();
    }

    input {
      &:focus {
        + .result-block {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

@media (max-width: $media-large) {
  .search-block {
    margin-bottom: -60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .search-section {
    padding-top: 103px;
    padding-bottom: 25px;

    .item {
      margin: 0 15px 30px;
      max-width: 125px;

      &__title {
        font-size: 28px;
      }

      &__description {
        font-size: 17px;
        line-height: 1.4;
      }
    }
  }
}

@media (max-width: $media-medium) {
  .search-section {
    .row {
      justify-content: center;
    }
  }
}

@media (max-width: 567.98px) {
  .search-block__form .field {
    padding-left: 15px;

    &::placeholder {
      font-size: 16px;
    }
  }
}

@media (max-width: 370px) {
  .search-block__form .field {
    padding-left: 5px;

    &::placeholder {
      font-size: 14px;
    }
  }
}
